<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="sidebar">
        <h2>HR Operations</h2>
        <ul>
            <li><a th:href="@{/dashboard}">View Employees</a></li>
            <li><a th:href="@{/employees/add}">Add Employee</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>Employee List</h1>
        <div class="add-button">
            <a th:href="@{/employees/add}">Add New Employee</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.department}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.salary}"></td>
                    <td class="button-container">
                        <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Edit</a>
                        <button type="button" th:data-employee-id="${employee.id}" class="delete-button">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>
